@charset "utf-8";
/* CSS Document */

.login-session{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: var(--bg-white);
}

.login-session .graphics-div{
    position:absolute;
    width:35%;
	height:100%;
    right: 0px;
    background: url(../../all-images/body-pix/login2.jpg) right no-repeat;
    background-size: cover;
}

.login-session .login-div {
    position: absolute;
    width:65%;
    height: 100%;
    left: 0px;
    background: var(--bg-white);
}

.login-session .login-div header {
    display: flex;
	align-items: center;
	justify-content: center;
    position: absolute;
    min-height: 60px;
    width: 100%;
    z-index: 300;
}

.login-session .login-div header .header-div-in {
	width: 85%;
	min-height: 60px;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    border-bottom: rgba(215, 215, 215, .3) 1px solid;
}

.login-session .login-div header .header-div-in .logo-div {
    width:170px;
	cursor:pointer;
}

.login-session .login-div header .header-div-in .logo-div img {
    width: 100%;
    object-fit: cover;
}

.login-session .login-div header .header-div-in ul{
	margin:0px;
	padding:0px;
	display: flex;
	gap: 15px;
	align-items: center;
}

.login-session .login-div header .header-div-in ul li{
	list-style:none;
	font-size:14px;
	color:var(--sub-body-color);
    font-family: body-font;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
	cursor:pointer;
}

.login-session .login-div header .header-div-in ul .li{
	color: var(--text-color);
    font-size:13px;
    cursor:auto;
}

.login-session .login-div .form-back-div {
    position: absolute;
    width: 100%;
    top: 60px;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.login-session .login-div .form-back-div .form-div{
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0px;
}

.login-session .login-div .form-back-div .form-div .top-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
}

.login-session .login-div .form-back-div .form-div .top-div h1{
    color: var(--primary-color);
    font-size: 30px;
    line-height: 35px;  
    padding: 0px;
    margin: 0px;
}

.login-session .login-div .form-back-div .form-div .top-div p{
    color: var(--text-color);
    padding: 0px;
    margin: 0px;
}

.login-session .login-div .form-back-div .form-div .inner-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-session .login-div .form-back-div .form-div .email-inner-form{
    gap: 15px;
}

.login-session .login-div .form-back-div .form-div .inner-form .forgot-pass{
    display: flex;
	align-self: flex-end;
    color: var(--text-color);
    font-family: body-font;
    cursor: pointer;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-in 0.2s;
}

.login-session .login-div .form-back-div .form-div .inner-form .forgot-pass:hover{
    color: var(--secondary-color);
}

.login-session .login-div .form-back-div .form-div .inner-form  .sign-forgot-pass{
    color: var(--sub-body-color);
    gap: 5px;
    cursor: auto;
}

.login-session .login-div .form-back-div .form-div .inner-form .sign-forgot-pass span{
    color: var(--secondary-color);
    cursor: pointer;
}

.login-session .login-div .form-back-div .form-div .inner-form .forgot-pass:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}

.login-session .login-div .form-back-div .form-div .inner-form .btn{
	display: flex;
	align-items: center;
	justify-content: center;
	border:none;
    width: 100%;
	height:50px;
	gap: 5px;
	border-radius: 5px;
	padding: 0px 25px;
	color:var(--text-white);
	font-size:15px;
	font-family: sub-title-font;
	background: var(--primary-color);
	transition: 0.3s ease-in;
	cursor:pointer;
}

.login-session .login-div .form-back-div .form-div .inner-form .btn i{
	font-size:12px;
}

.login-session .login-div .form-back-div .form-div .inner-form .btn:hover{
	background: var(--secondary-color);
}

.login-alert{
	margin: 10px auto;
}

#reset_password_info, #send_link_info{
    display: none;
}



.login-session .login-div .form-back-div .form-div .inner-form .icon-div{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #73B13E;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-session .login-div .form-back-div .form-div .inner-form .icon-div i{
	font-size: 20px;
	color:var(--text-white);
}

.login-session .login-div .form-back-div .form-div .inner-form h3{
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	font-family: sub-title-font;
    color: var(--sub-body-color);
}

.login-session .login-div .form-back-div .form-div .inner-form .btn-div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login-session .login-div .form-back-div .form-div .inner-form .btn-div .btn{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	border:none;
    width: 40%;
	border-radius: 5px;
	height:40px;
	padding: 0px 25px;
	color:var(--text-white);
	font-size:13px;
	font-family: body-font;
	background: var(--primary-color);
	transition: 0.3s ease-in;
	cursor:pointer;
}

.login-session .login-div .form-back-div .form-div .inner-form .btn-div .btn i{
	font-size:12px;
}

.login-session .login-div .form-back-div .form-div .inner-form .btn-div .btn:hover{
	background: var(--secondary-color);
	color:var(--text-white);
}

.login-session .login-div .form-back-div .form-div .inner-form .btn-div .notification{
	font-size:13px;
	color: var(--text-color);
	cursor:pointer;
	transition: 0.3s ease-in;
	border: none;
	background: none;
}

.login-session .login-div .form-back-div .form-div .inner-form .btn-div .notification span:hover{
	color:var(--secondary-color);
}


.email-form-alert {
	margin: 0px auto;
}

.login-session .login-div .form-back-div .form-div .inner-form .pswd_info{
	font-size: 11px;
	font-family: body-font;
	color: var(--text-color);
	margin-bottom: 8px;
}



@media all and (max-width:780px) {
	.login-session .graphics-div{
        display: none;
    }
    .login-session .login-div {
        width:100%;
    }
    .login-session .login-div header .header-div-in {
        width: 90%;
    }
} 

@media all and (max-width:570px) {
	.login-session .login-div .form-back-div .form-div{
        width: 85%;    
    }
} 

@media all and (max-width:480px) {
	.login-session .login-div header .header-div-in ul .li{
        display: none;
    }
    .login-session .login-div .form-back-div .form-div .inner-form .btn-div{
		flex-direction: column;
		gap: 15px;
	}
    .login-session .login-div .form-back-div .form-div .inner-form .btn-div .btn{
		width: 100%;
	}
    .login-session .login-div .form-back-div .form-div .inner-form .btn-div .notification{
		display: flex;
		align-self: flex-start;
		justify-self: flex-start;
	}
} 

@media all and (max-width:400px) {
	.login-session .login-div .form-back-div .form-div .top-div h1{
        font-size: 25px;
        line-height: 30px;
    }
    .login-session .login-div .form-back-div .form-div .top-div p{
        font-size: 14px;
    }
} 

/*--------------------------------------------------------------------------------------------------*/
.caption-div{
	width:500px;
	min-height:200px;
	background:var(--bg-white);
	border-radius:7px;
	overflow:hidden;
}
.caption-div .title-div{
    width: calc(100% - 40px);
    height: 50px;
    background: var(--primary-color);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-white);
    font-family: sub-title-font;
}

.caption-div .title-div .title{ 
    color: var(--text-white)
}

.caption-div .title-div .close-btn{
    font-family: sub-title-font;
    border: none;
    height: 35px;
    padding: 0px 13px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    transition: all 0.2s ease-in 0.2s;
	transition:all 0.2s ease-in 0.2s;
	-moz-transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.caption-div .title-div .close-btn i{
	font-size: 12px;
    color: var(--text-white);
}
.caption-div .title-div .close-btn:hover{
	opacity: .8;
}

.caption-div .div-in{
	padding:30px;
    display: flex;
    gap: 20px;
	flex-direction: column;
}

.caption-div .div-in .btn{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: sub-title-font;
    font-size: 16px;
    background: var(--primary-color);
    color: var(--text-white);
    cursor: pointer;
    transition: all 0.2s ease-in 0.2s;
}
.caption-div .div-in .btn:hover{
    background: var(--secondary-color);
}

.caption-div .div-in #resendOtpBtn, #resendCountdown{
    cursor: pointer;
    font-size:13px;
	color: var(--text-color);
	cursor:pointer;
}

.caption-div .div-in #resendOtpBtn{
    display: none;
}

.caption-div .div-in #resendOtpBtn:hover{
    text-decoration: underline;
}

@media all and (max-width:450px) {
	.caption-div{
        width:340px;
        min-height:200px;
    }

    .caption-div .div-in{
        padding:20px 20px 35px 20px;
    }
} 


